[build-system]
requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "xgboostlss"
description = "XGBoostLSS - An extension of XGBoost to probabilistic modelling."
version = "0.4.0"
license = {file = "LICENSE.txt"}
keywords = [
    "distributional regression",
    "multi-target regression",
    "mixture density model",
    "normalizing flow",
    "prediction intervals",
    "probabilistic modelling",
    "uncertainty estimation"]
authors = [
    {name="Alexander März", email="alex.maerz@gmx.net" },
]
maintainers = [
    {name="Alexander März", email="alex.maerz@gmx.net" },
]
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.10"
classifiers = [
    "Development Status :: a - Alpha",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: Apache-2.0 license",
    "Operating System :: OS Independent",
]
dependencies = [
    "xgboost~=2.0.3",
    "torch~=2.1.2",
    "pyro-ppl~=1.8.6",
    "optuna~=3.5.0",
    "properscoring~=0.1",
    "scikit-learn~=1.4.0",
    "numpy~=1.26.3",
    "pandas~=2.1.4",
    "plotnine~=0.12.4",
    "scipy~=1.11.4",
    "shap~=0.44.0",
    "seaborn~=0.13.1",
    "tqdm~=4.66.1",
    "matplotlib~=3.8.2",
    "ipython~=8.20.0",
]

[project.urls]
Homepage = "https://github.com/StatMixedML/XGBoostLSS"
Documentation = "https://statmixedml.github.io/XGBoostLSS/"
